<!DOCTYPE html>
<html>
<head>
  <title>Radiologia</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
    integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <%= csrf_meta_tags %>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Radiolog&iacute;a</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <% if current_page?(root_path) %>
                      <li class="hidden">
                      <a class="page-scroll" href="#page-top"></a>
                      </li>
                      <li>
                      <a class="page-scroll" href="#about">Qui&eacute;nes Somos</a>
                      </li>
                      <li>
                      <a class="page-scroll" href="#services">Servicios</a>
                      </li>
                      <li>
                      <a class="page-scroll" href="#contact">Cont&aacute;ctanos</a>
                      </li>
                    <% else %>
                      <li class="hidden">
                        <%= link_to 'Radiología', root_path %>
                      </li>
                      <li>
                        <%= link_to 'Quiénes Somos', root_path(anchor: 'about') %>
                      </li>
                      <li>
                        <%= link_to 'Servicios', root_path(anchor: 'services') %>
                      </li>
                      <li>
                        <%= link_to 'Contáctanos', root_path(anchor: 'contact') %>
                      </li>
                    <% end %>
                </ul>
                 <p class="navbar-text pull-right">
                 <% if user_signed_in? %>
                   Hola <strong><%= current_user.email %> !</strong>.
                   <%= link_to 'Editar perfil', edit_user_registration_path, :class => 'navbar-link' %> |
                   <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
                 <% else %>
                   <%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link'  %> |
                   <%= link_to "Iniciar sesión", new_user_session_path, :class => 'navbar-link'  %>
                 <% end %>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <%= yield %>

      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>
